<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <!-- Stylesheets go here! -->
    <link href="stylesheets/styles.css" rel="stylesheet"></link>
    <link href="bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"></link>
     <script src="jquery/dist/jquery.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA57mCygbTbtQo72wn8nE-E4FSVcFLxs38&sensor=true"></script>

  </head>
  <body>

    {% block content %}
    {% endblock %}

  </body>
</html>