{% extends "layout.html"%}

<!DOCTYPE html>
<html lang='en'>
<head>
	<title>Trip Planner</title>
</head>

{% block content %}
<!-- begin body -->
<body>

	<!-- nav bar -->
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	    
	      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-flash"></span> Trip Planner</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
	        <li><a href="#">About</a></li>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>

	<!-- map -->
	<div id="map-canvas">
		<!-- <a href="/map.js"></a> -->
	</div>

	<div class="rightside">
		<!-- selectors -->
		<div class="selectors">
			
			<div class = "sect">
				<h4>Hotels</h4>
				<select name= 'Hotels'>
				{% for hotel in hotels%}
					<option value= {{hotel.name}}>{{hotel.name}}</option>
				{% endfor %}
				</select>

				<button class="btn-danger">X</button>
			</div>

			<div class = "sect">
				<h4>Restaurants</h4>
				<select name= 'Hotels'>
				{% for restaurant in restaurants%}
					<option value= {{restaurant.name}}>{{restaurant.name}}</option>
				{% endfor %}
				</select>
				<button class="btn-danger">X</button>
			</div>

			
			<div class = "sect">
				<h4>Activities</h4>
				<select name= 'Hotels'>
				{% for activity in activities%}
					<option value= {{activity.name}}>{{activity.name}}</option>
				{% endfor %}
				</select>

				<button class="btn-danger">X</button>
			</div>

		</div>

		<!-- itinerary -->
		<div class="itinerary">
			<div class="daylabel">Day 2</div>
			<div class="daybuttons">
				<button class="btn-danger">1</button>
				<button class="btn-danger">2</button>
				<button class="btn-danger">3</button>
				<button class="btn-danger">+</button>
			</div>
			<div class="to-do-list sect">
				<ul>
					<li>[[xxxxxxxxxx]]</li>
				</ul>
				<ul>
					<li>[[xxxxxxxxxx]]</li>
				</ul>
				<ul>
					<li>[[xxxxxxxxxx]]</li>
				</ul>
			</div>
		</div>
		</div>
	<script src="/map.js"></script>
</body>

{% endblock %}