.nav-bar {
  width: 100%;
  background-color: red;
  padding: 1em; }

.rightside {
  float: right;
  background-color: brown; }
  .rightside .selectors {
    margin: 3em;
    display: inline; }
    .rightside .selectors select {
      width: 60%; }
    .rightside .selectors .sect {
      background-color: green;
      padding: 1em; }
  .rightside .itinerary .daylabel {
    background-color: transparent;
    text-align: center;
    font-weight: bold; }
  .rightside .itinerary .daybuttons {
    background-color: yellow;
    padding: .4em; }
  .rightside .itinerary .sect {
    background-color: green;
    padding: 1em; }
  .rightside h4 {
    font-weight: bold; }
