.nav-bar{
	width: 100%;
	background-color: red;
	padding: 1em;
}

.rightside{
	float: right;
	background-color: brown;
	
	.selectors {
	
		margin: 3em;	
		select{
			width: 60%;
		}
		
		display: inline;

		.sect{
			background-color: green;
			padding: 1em;
		}
	}

	.itinerary{
		
		.daylabel{
			background-color: transparent;
			text-align: center;
			font-weight: bold;

		}
		.daybuttons{
			background-color: yellow;
			padding: .4em;

		}
		.to-do-list{

		}

		.sect{
			background-color: green;
			padding: 1em;
		}
	}

	h4{
		font-weight: bold;
	}
}

